hml,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f7cd75;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 69vw;
    background-color: #ffffff;
    height: 63vh;
}

.container {
    background-color: #f2f2f2;
    width: 25.5vw;
    height: 63.5vh;
    padding: 0.8rem 2.6rem;
    overflow: auto;
}

.wallet {
    font-size: 23px;
    color: #46413e;
}

header {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.cross {
    padding-left: 7.5rem;
    padding-top: 6px;
}

.border {
    border: 2px solid#e3e2e3;
    width: 15.8rem;
    height: 8rem;
    margin-top: 22px;
    border-radius: 5px;
}

.redit {
    width: 72px;
    margin-left: 15px;
    margin-top: 8px;
}

.num {
    color: #46413e;
    margin-left: 0.8rem;
}

span {
    color: #46413e;
    margin-left: 0.9rem;
}

.wet {
    margin-top: -6px;
}

.border:hover {
    border: solid #8793c6;
    cursor: pointer;

}


.content {
    background-color: #ffffff;
    width: 45vw;
    height: 63.5vh;
    padding: 0.8rem 2.2rem;
    overflow: auto;
}

.credit {
    font-size: 23px;
    font-size: display;
    color: #46413e;
}

.head {
    display: flex;
}

.share {
    font-size: 1.6rem;
    color: #46413e;
    font-weight: bolder;
    margin-top: 22px;
    margin-left: 16.1rem;
}

.suk {
    font-size: 15px;
}

.line {
    border-bottom: 2px solid#eae9eb;
    margin-top: 1rem;

}

.quote {
    border: 2px solid#e4e3e5;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.plug {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-top: 1rem;
}

.span {
    margin-left: -1px;
    font-size: 14px;
    color: #bab9ba;
    font-weight: 500;
    margin-top: -0.8rem;
}

.put {
    margin-left: 1.5rem;
}

.favorite {
    font-size: 1.1rem;
    color: #8897c1;
}

.good {
    color: #92cc6c;
}

.suki {
    font-size: 12px;
}

.plus {
    font-size: 1px;
}